* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.html {
  font-size: 62.5rem;
  /* each rem now is 10px in defaule browser font size (16px) */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(77, 77, 77);
}


.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}


.app-container {
  border-radius: 12px;
  width: 30vw;
  background-image: linear-gradient(135deg, #00feba, #5b548a);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 40px 0px rgb(0, 0, 0);
  height: fit-content;
  transition: 1s;
  overflow: hidden;
  /* Ensures content doesn't overflow during transition */
}

.app-container:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.js-weather-details {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  padding: 3.2rem 3.5rem;
  transition: 1s;
}

/* State when the weather details are visible */
.js-weather-details.visible {
  transform: scale(1);
  visibility: visible;
  transition: scale 0.5s ease-in-out;
}



/*----------- search feature -----------*/
.search_location_input {
  height: 2.5rem;
  padding: 0rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 24px;
  color: rgb(65, 65, 65);
}

.search_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;
  gap: 8px;
  position: relative;
}

.invalid-text {
  position: absolute;
  left: 20%;
  top: 105%;
  content: 'invalid city';
  font-size: .9rem;
  font-weight: lighter;
  color: red;
  z-index: -1;
  transition: 1s;
}

.search_location_input {
  width: 60%;
}

.search_icon_container {
  background-color: white;
  height: 2.5rem;
  width: 2.5rem;
  padding-top: 11px;
  padding-left: 12px;
  padding-right: 7px;
  padding-bottom: 5px;
  border-radius: 100%;
  transition: 1s;
}

.search_icon_container:hover {
  background-color: rgb(206, 206, 206);
}

.search_icon {
  width: .9rem;
}


/*----------- Weather condition image -----------*/
.weather_condition_img {
  width: 40%;
}

/*----------- Weather Main Informations -----------*/

.temperture_text {
  color: white;
  font-size: 3rem;
  font-weight: normal;
}

.weather_location_name {
  color: white;
  font-size: 1.7rem;
  font-weight: lighter;
}

/*----------- Weather Extra informations -----------*/

.additional_info_container {
  margin-top: 3.2rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.ext_visual {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.ext_icon {
  width: 2rem;
  max-height: 2rem;
}

.ext_normal_text {
  color: white;
  font-size: 1.3rem;
  font-weight: lighter;
}

.ext_small_text {
  color: white;
  font-size: .6rem;
  text-align: end;
  padding-right: 1px;
}